<a href="https://colab.research.google.com/github/SUBHASH-KANDHWAY/MACHINE-LEARNING-PROJECTS/blob/master/esambleLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
data_set=pd.read_csv('data_cleaned.csv')
data_set.head
data_set.shape

(891, 25)

In [ ]:
x=data_set.drop(['Survived'],axis=1)
y=data_set['Survived']

In [ ]:
from sklearn.model_selection import   train_test_split
trainx,testx,trainy,testy=train_test_split(x,y,random_state=101,stratify=y)

In [ ]:
trainy.value_counts()/len(testy)

0    1.847534
1    1.147982
Name: Survived, dtype: float64

In [ ]:
from sklearn.tree import  DecisionTreeClassifier
clf=DecisionTreeClassifier()
clf.fit(trainx,trainy)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
clf.score(trainx,trainy)

0.9880239520958084

In [ ]:
clf.score(testx,testy)

0.7443946188340808

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier()
clf.fit(trainx,trainy)
clf.score(trainx,trainy)

0.9880239520958084

In [ ]:
clf.feature_importances_
pd.Series(clf.feature_importances_,index=trainx.columns)

Age           0.232047
Fare          0.237946
Pclass_1      0.028693
Pclass_2      0.015827
Pclass_3      0.044520
Sex_female    0.144195
Sex_male      0.166833
SibSp_0       0.012014
SibSp_1       0.015979
SibSp_2       0.006107
SibSp_3       0.004710
SibSp_4       0.003788
SibSp_5       0.000715
SibSp_8       0.002416
Parch_0       0.016791
Parch_1       0.013236
Parch_2       0.011413
Parch_3       0.001682
Parch_4       0.002640
Parch_5       0.002553
Parch_6       0.000577
Embarked_C    0.012086
Embarked_Q    0.008905
Embarked_S    0.014325
dtype: float64

***stacking ImplemeImplement ***

In [ ]:
data_set.isna().sum()

Survived      0
Age           0
Fare          0
Pclass_1      0
Pclass_2      0
Pclass_3      0
Sex_female    0
Sex_male      0
SibSp_0       0
SibSp_1       0
SibSp_2       0
SibSp_3       0
SibSp_4       0
SibSp_5       0
SibSp_8       0
Parch_0       0
Parch_1       0
Parch_2       0
Parch_3       0
Parch_4       0
Parch_5       0
Parch_6       0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
dtype: int64

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

In [ ]:
def Modelpredictioin(model,trainx,trainy,testx):
  model.fit(trainx,trainy)
  pred_train=model.predict(trainx)
  pred_test=model.predict(testx)
  return pred_train,pred_test

In [ ]:
DT=DecisionTreeClassifier(random_state=101)
M1_train,M1_test=Modelpredictioin(DT,trainx,trainy,testx)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(X=trainx)
trainx=scaler.transform(trainx)
testx=scaler.transform(testx)

In [ ]:
LR=LogisticRegression()
M3_train,M3_test=Modelpredictioin(LR,trainx,trainy,testx)

In [ ]:
KNN=KNeighborsClassifier()
M2_train,M2_test=Modelpredictioin(KNN,trainx,trainy,testx)

***STACKING MODEL BUILDING***

In [ ]:
TRAIN_PREDICTION={
    'DT':M1_train,
    'LR':M3_train,
    'KNN':M2_train
}
TRAIN_PREDICTION=pd.DataFrame(TRAIN_PREDICTION)
TRAIN_PREDICTION.head()


TEST_PREDICTION={
    'DT':M1_test,
    'LR':M3_test,
    'KNN':M2_test
}
TRAIN_PREDICTION=pd.DataFrame(TRAIN_PREDICTION)
TRAIN_PREDICTION.head()

   DT  LR  KNN
0   0   0    0
1   0   0    0
2   0   0    0
3   0   0    0
4   0   0    0

In [ ]:
MODEL=LogisticRegression()
MODEL.fit(TRAIN_PREDICTION,trainy)
MODEL.score(TRAIN_PREDICTION,testy)

***IMPLEMENTATION OF XGBOOST***

In [1]:
import pandas as pd
import numpy as np
data=pd.read_csv('data_cleaned.csv')

In [3]:
data.head(10)

   Survived        Age     Fare  ...  Embarked_C  Embarked_Q  Embarked_S
0         0  22.000000   7.2500  ...           0           0           1
1         1  38.000000  71.2833  ...           1           0           0
2         1  26.000000   7.9250  ...           0           0           1
3         1  35.000000  53.1000  ...           0           0           1
4         0  35.000000   8.0500  ...           0           0           1
5         0  29.699118   8.4583  ...           0           1           0
6         0  54.000000  51.8625  ...           0           0           1
7         0   2.000000  21.0750  ...           0           0           1
8         1  27.000000  11.1333  ...           0           0           1
9         1  14.000000  30.0708  ...           1           0           0

[10 rows x 25 columns]

In [4]:
x=data.drop('Survived',axis=1)
y=data['Survived']

In [5]:
from sklearn.model_selection import   train_test_split
trainx,testx,trainy,testy=train_test_split(x,y,random_state=101,stratify=y)

In [6]:
pip install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.6/dist-packages (0.90)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.18.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.4.1)

In [7]:
from xgboost import XGBClassifier
clf=XGBClassifier(random_state=96)

In [14]:
clf.fit(trainx,trainy)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=96,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [9]:
clf.score(trainx,trainy)

0.8787425149700598

In [10]:
clf.score(testx,testy,)

0.8251121076233184

***IMPLEMENTATION OF ADABOOST***

In [15]:
from sklearn.ensemble import AdaBoostClassifier

In [18]:
adda=AdaBoostClassifier(random_state=91)

In [22]:
adda.fit(trainx,trainy)
adda.score(trainx,trainy)

0.8413173652694611

In [23]:
adda.fit(testx,testy)
adda.score(testx,testy)

0.8385650224215246